:root {
    --card_width: 300px;
    --row_increment: 10px;
    --cardSm: 26;
    --cardMd: 33;
    --cardLg: 44;
    --cardXl: 48;
    --cardXxl: 52;
  
    --hue: 207;
    --sat: 90%;
    --lig: 61%;
  
    --normal-font-size: 1.1rem;
    --smaller-font-size: 0.65rem;
  }
  
  
  /* CARD SIZES  */
  .cardSm {
    grid-row-end: span var(--cardSm);
  }
  .cardMd {
    grid-row-end: span var(--cardMd);
  }
  .cardLg {
    grid-row-end: span var(--cardLg);
  }
  .cardXl {
    grid-row-end: span var(--cardXl);
  }
  .cardXxl {
    grid-row-end: span var(--cardXxl);
  }
  
  
  /* PROJECT CARD DESIGN */
  .projectContainer {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, var(--card_width));
    grid-auto-rows: var(--row_increment);
  }
  
  .projectCard {
    box-shadow: rgba(0, 0, 0, 0.26) 2.8px 2.8px 3.6px;
    border: 1px solid rgba(128, 128, 128, 0.562);
  }
  
  .projectsTitle {
    font-size: var(--normal-font-size);
  }
  
  .projectsSubtitle {
    font-size: var(--smaller-font-size);
  }
  
  .modal-open {
    pointer-events: none;
    filter: blur(2px);
  }
  
  
  .projectContainer .projectCard img {
    filter: grayscale(100%);
    transition: transform 0.5s;
  }
  
  .projectContainer .projectCard:hover img {
    filter: grayscale(0%);
    transform: scale(1.05 );
  }
  
  .projectsModal {
    bottom: -100%;
    background: linear-gradient(
      180deg,
      hsla(var(--hue), 24%, 40%, 0.3) 0%,
      hsla(var(--hue), 24%, 4%, 1) 125%
    );
    transition: 0.3s;
  }
  
  .projectLink {
    /* background-color: #42a5f5; */
    box-shadow: 0 8px 24px hsla(var(--hue), var(--sat), var(--lig), 0.25);
  }
  
  .projectContainer .projectCard:hover .projectsModal {
    bottom: 0;
  }
  
  
  /* MEDIA QUERY */
  
  @media only screen and (min-width: 576px) and (max-width: 768px) {
    :root {
      --card_width: 240px;
      --cardSm: 20;
      --cardMd: 26;
      --cardLg: 36;
      --cardXl: 40;
      --cardXxl: 45;
    }
  }
  
  @media (max-width: 576px) {
    :root {
      --card_width: 180px;
      --cardSm: 14;
      --cardMd: 27;
      --cardLg: 28;
      --cardXl: 31;
      --cardXxl: 36;
    }
  
    .projectContainer .projectContent {
      height: 30px;
      margin-top: 30px;
    }
  }
  